section{
    width: 100%;
}
span {
    text-decoration: underline;
    font-weight: bold;
}

.container {
    margin-top: 8px;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    border: 1px dashed var(--input-text-color);
    background: #F4F3FF;
    gap: 24px;
}